extends ../layout
block content
    .wrapper
        form.form-horizontal(method="post" id="forgotForm")
            legend Forgot Password
            .form-group
                label(for="email") Email
                input.form-control(type="text" name="email" data-validation="required email" autofocus)
            button.btn.btn-primary(type="submit")
                span.glyphicon.glyphicon-envelope
                | &nbsp;Reset Password