extends ../layout
block content
    .wrapper
        form.form-horizontal(method="post" id="forgotForm" action="/forgot")
            legend Forgot Password
            .form-group
                .input-group
                    span.input-group-addon
                        span.fa.fa-fw.fa-envelope
                    input.form-control(type="text" name="email" placeholder="Email" data-validation="required email" autofocus)
            button.btn.btn-primary(type="submit")
                span.fa.fa-key
                | &nbsp;Reset Password