extends ../layout
block content
    .wrapper
        form.form-horizontal(method="post" id="signupForm" action="/signup")
            legend Signup
            .form-group
                .input-group
                    span.input-group-addon
                        span.fa.fa-fw.fa-user
                    input.form-control(type="text" name="username" placeholder="Username" data-validation="required length" data-validation-length="min4" autofocus)
            .form-group
                .input-group
                    span.input-group-addon
                        span.fa.fa-fw.fa-envelope
                    input.form-control(type="text" name="email" placeholder="Email" data-validation="required email")
            .form-group
                .input-group
                    span.input-group-addon
                        span.fa.fa-fw.fa-key
                    input.form-control(type="password" name="password_confirmation" placeholder="Password" data-validation="length" data-validation-length="min6")
            .form-group
                .input-group
                    span.input-group-addon
                        span.fa.fa-fw.fa-key.fa-flip-horizontal
                    input.form-control(type="password" name="password" placeholder="Confirm Password" data-validation="confirmation")
            button.btn.btn-primary(type="submit")
                span.fa.fa-plus
                | &nbsp;Signup