exports.main = {
    secret: 'somethingsecret',
    port: 3000,
    file_size_limit: 30 * 1024 * 1024 // 30 MB
};

exports.mailgun = {
    api_key: 'yourkey',
    domain: 'yourdomain.mailgun.org',
    from_who: 'noreply <youremail@yourdomain.edu>'
};
