extends layout
block content
    .wrapper(ng-controller="JobListCtrl")
        form.form-horizontal(id="alignForm" method="post" action="/align" )
            .form-group
                label.control-label.col-xs-4(bs-tooltip data-title="{{tooltip.alignName}}") Name this alignment
                .col-xs-8
                    input.form-control(type="text" name="alignName" data-validation="length alphanumeric" data-validation-length="min4")
            .form-group
                label.control-label.col-xs-4(bs-tooltip data-title="{{tooltip.targetSeq}}") Select one as target
                .col-xs-8
                    select.form-control(name="targetSeq" data-validation="required")
                        option(ng-repeat="file in files | filter:{type: '.fa/.fa.gz'}" value="{{file.path}}") {{file.name}}
            .form-group
                label.control-label.col-xs-4(bs-tooltip data-title="{{tooltip.querySeq}}") Select one or more as queries
                .col-xs-8
                    select.form-control(name="querySeq" multiple)
                        option(ng-repeat="file in files | filter:{type: '.fa/.fa.gz'}" value="{{file.path}}") {{file.name}}
            .form-group
                label.control-label.col-xs-4(bs-tooltip data-title="{{tooltip.guideTree}}") Guide Tree
                .col-xs-8
                    select.form-control(name="guideTree")
                        option(value="")
                        option(ng-repeat="file in files | filter:{type: '.newick'}" value="{{file.path}}") {{file.name}}
            .form-group
                label.control-label.col-xs-4(bs-tooltip data-title="{{tooltip.alignLength}}") Minimum fragment legnth
                .col-xs-8
                    input.form-control(type="number" name="alignLength" value=1000 data-validation="number")
            .form-group
                label.control-label.col-xs-4 Select a realigning method
                .col-xs-8
                    .btn-group(data-toggle="buttons")
                        label.btn.btn-default.active(bs-tooltip data-title="{{tooltip.MAFFT}}") MAFFT
                            input(checked type="radio" name="reAlignmentMethod" value="mafft")
                        label.btn.btn-default(bs-tooltip data-title="{{tooltip.ClustalW}}") ClustalW
                            input(type="radio" name="reAlignmentMethod" value="clustalw")
                        label.btn.btn-default(bs-tooltip data-title="{{tooltip.None}}") None
                            input(type="radio" name="reAlignmentMethod" value="none")
            button.btn.btn-lg.btn-primary.btn-block(type="submit") Begin aligning&nbsp;&nbsp;
                span.fa.fa-gear.fa-angle-double-right
    // job list
    .wrapper(ng-controller="JobListCtrl")
        div#jobListPanel.panel.panel-default
            .panel-heading Your jobs
            li.list-group-item(ng-if="jobs.length == 0")
                | No jobs.
            .table-responsive(ng-if="jobs.length > 0")
                table.table.table-bordered
                    thead
                        tr
                            th #
                            th Name
                            th Created
                            th Finished
                            th Status
                            th
                    tbody
                        tr(ng-repeat="job in jobs" ng-switch on="job.status")
                            td {{$index + 1}}
                            td
                                a(href="/process/{{job._id}}") {{job.name}}
                            td {{ job.createDate | date:"yyyy-MM-dd hh:mm"}}
                            td {{ job.finishDate | date:"yyyy-MM-dd hh:mm"}}
                            td.info(ng-switch-when="finished")
                                span.fa.fa-fw.fa-check
                                | &nbsp;{{job.status}}
                            td.warning(ng-switch-when="running")
                                span.fa.fa-fw.fa-spin.fa-spinner
                                | &nbsp;{{job.status}}
                            td.danger(ng-switch-when="failed")
                                span.fa.fa-fw.fa-remove
                                | &nbsp;{{job.status}}
                            td.cell-align
                                button.btn.btn-danger.btn-xs(ng-click="deleteJob($index)" data-type="info" bs-tooltip data-title="{{tooltip.delete}}")
                                    span.fa.fa-lg.fa-trash

