extends layout

block content
    div.jumbotron
        .container
            .row.title-row
                .col-lg-12.font-light.text-center
                    <div class= "font-light">Leave us a <span class="font-semibold">message</span>
                    </div>
                    <br>

            .row.line-row
                .hr &nbsp;

            .row.subtitle-row
                .col-sm-1.hidden-sm &nbsp
                    <br>
                .col-sm-10.font-light.text-center
                    p You can find us literally anywhere
                .col-sm-1.hidden-sm &nbsp;
                    <br><br>


        .contianer.row.text-center.font-light
            .col-sm-2
                <p></p>
            .col-sm-2
                span.fa.fa-x.fa-phone
                    .font-light
                        p 86-25-xxxx
            .col-sm-2
                span.fa.fa-x.fa-home
                    .font-light
                        p Nanjing, China &nbsp zip code 210000
            .col-sm-2
                span.fa.fa-x.fa-envelope
                    .font-light
                        p wangq@nju.edu.cn
            .col-sm-2
                span.fa.fa-x.fa-github
                    .font-light
                        p @wang-q
            .col-sm-1
                <p></p>







