extends layout

//block content
   div.jumbotron
      h1= title
      p Welcome to #{title}


block content
    div.jumbotron
        .container
            .row.title-row
                .col-lg-12.font-light.text-center
                    <div class="col-12 font-light">Leave us a <span class="font-semibold">message</span></div>

            .row.line-row
                .hr &nbsp;

            .row.subtitle-row
                .col-sm-1.hidden-sm &nbsp
                    <br>
                .col-sm-10.font-light.text-center
                    <div>You can find us literally anywhere, just push a button and we’re there</div>
                .col-sm-1.hidden-sm &nbsp;
                    <br><br><br>


        .contianer.row.text-center
            .col-sm-2
                <p></p>
            .col-sm-2
                span.fa.fa-phone
                p 86-25-xxxx

            .col-sm-2
                span.fa.fa-home
                p hahoo!
            .col-sm-2
                span.fa.fa-envelope
                p dg1330019@smail.nju.edu.cn
            .col-sm-2
                span.fa.fa-github-alt
                p @siyue1226
            .col-sm-1
                <p></p>







