extends layout

block content
    .container(id="downloadsPanel")
        .wrapper
            .panel.panel-info
                .panel-heading.panel-title EGA Virtual Machine
                .panel-body Ubuntu 14.04.3 with all EGA components. <br><br>
                    | Read the manual for details. <br><br>
                    | Username:password of the VM are <strong>vagrant:vagrant</strong>, respectively.
                ul.list-group
                    li.list-group-item
                        a(href="/downloads/egavm.ova") egavm.ova
                        | &nbsp; 1.9 GB; 2016-03-19
        .wrapper
            .panel.panel-default
                .panel-heading.panel-title VirtualBox
                .panel-body This version is we used to build the virtual machine. <br><br>
                    a(href="https://www.virtualbox.org/wiki/Downloads") Original download page.
                ul.list-group
                    li.list-group-item
                        a(href="/downloads/VirtualBox-5.0.16-105871-OSX.dmg") VirtualBox-5.0.16-105871-OSX.dmg
                    li.list-group-item
                        a(href="/downloads/VirtualBox-5.0.16-105871-Win.exe") VirtualBox-5.0.16-105871-Win.exe
                    li.list-group-item
                        a(href="/downloads/Oracle_VM_VirtualBox_Extension_Pack-5.0.16-105871.vbox-extpack") Oracle_VM_VirtualBox_Extension_Pack-5.0.16-105871.vbox-extpack
        .wrapper
            .panel.panel-default
                .panel-heading.panel-title EGA Vagrant box
                .panel-body Using vagrant you may config shared directories and forwarding ports more easily. <br><br>
                    | For experienced users only.
                ul.list-group
                    li.list-group-item
                        a(href="/downloads/egavm.box") egavm.box
                        | &nbsp; 1.9 GB; 2016-03-19
                    li.list-group-item
                        a(href="/downloads/Vagrantfile") Vagrantfile
        .wrapper
            .panel.panel-default
                .panel-heading.panel-title Vagrant
                .panel-body This version is we used to build the box. <br><br>
                    a(href="https://www.vagrantup.com/downloads.html") Original download page.
                ul.list-group
                    li.list-group-item
                        a(href="/downloads/vagrant_1.8.1.dmg") vagrant_1.8.1.dmg
                    li.list-group-item
                        a(href="/downloads/vagrant_1.8.1.msi") vagrant_1.8.1.msi
