extends layout
block content
    div.wrapper
        form.form-forgot(method="post", id="forgotForm")
            legend Forgot Password
            .form-group
                label(for='email') Email
                input.form-control(type='text', name='email', autofocus)
            button.btn.btn-primary(type='submit') Reset Password