extends layout

block content
    .jumbotron
        .container
            <h1>Easy Genome Aligner<br><small>Here you can align multiple genome sequences like a breeze.</small></h1>
            //<h1>Easy Genome Aligner</h1><h2>Here you can align multiple genome sequences like a breeze.</h2><br>
            p Multiple genome alignments play a fundamental role in many biological realms such as evolution and genomics.Easy Genome Alignment (EGA), a set of tools implemented into a software package, is designed to make complicated whole genome multiple alignments re ally accessible for most biologists.</p>
            <br>
            a.btn.btn-primary.btn-lg(role="button" href="pages/Tutorial.html") Learn more »

    .row.container
        .col-lg-1
            <p></p>
        .col-lg-5
            .text-center
                <img src="/images/yeast.jpg" alt="Yeast" class="img-circle" style="width: 200px; height: 200px;">
                <h2>Multiple genome alignments</h2>
                <p>Here you can align multiple yeast genomes.Here you can align multiple yeast genomes.</p>
                <p><a role="button" href="#pages/Tutorial.html"  class="btn btn-default">View details »</a></p>
        .col-lg-5
            .text-center
                <img src="/images/paralog.jpg" alt="Paralog detection" class="img-circle" style="width: 200px; height: 200px;">
                <h2>Self-alignemnt</h2>
                <p>Here you can detect paralog sequence.Here you can align multiple yeast genomes.</p>
                <p><a role="button" href="pages/Tutorial.html" class="btn btn-default">View details »</a></p>
        //.col-lg-1
            <p></p>

    .featurette-divider
        <hr class="featurette-divider">


        //<pre>
    .container
        //.row.col-lg-8#major-highlights
        .row.col-lg-12
            h2 Examples

        .row.col-lg-8

            .container.row

                .col-lg-4.bor
                    <h4><a title="bacteria" href="pages/Tutorial.html">NCYC Catalogue</a></h4>
                    <br>
                    <p><a href="https://catalogue.ncyc.co.uk"><img class="pull-left img-thumbnail pic" src="/images/bacteria.jpg" alt="catalogue" width="120" height="120"></a>Search our extensive catalogue of yeast strains. Purchase individual or groups of strains via our online shop.</p>

                .col-lg-4.bor

                    <h4><a title="Services" href="pages/Tutorial.html">Our Services</a></h4>
                    <br>
                    <p><a href="http://www.ncyc.co.uk/services/"><img class="pull-left img-rounded pic" src="/images/yeast.jpg" alt="services" width="120" height="120"></a>NCYC offers a range of services, from authentication and identification to safe deposit and contract research.</p>

            .container.row

                .col-lg-4.bor

                    <h4><a title="Deposits" href="pages/Tutorial.html">Paralog Detction</a></h4>
                    <br>
                    <p><a href="http://www.ncyc.co.uk/deposit/"><img class="pull-left img-thumbnail pic" src="/images/paralog.jpg" alt="deposit" width="120" height="120"></a>For more than half a century the NCYC has served its hundreds of customers, providing secure and confidential storage of production strains.<br>
                    </p>

                .col-lg-4.bor

                    <h4><a title="Research" href="pages/Tutorial.html">Local Alignment tool</a></h4>
                    <br>
                    <p><a href="http://www.ncyc.co.uk/research/"><img class="pull-left img-thumbnail pic" src="/images/paralog.jpg" alt="research" width="120" height="120"></a>For more than half a century the NCYC has served its hundreds of customers, providing secure and confidential storage of production strains.<br>
                    </p>

        .col-lg-1
            <p></p>
        .col-lg-3.pull-right#major-highlights


        //</pre>

    //.featurette-divider
        <hr class="featurette-divider">













