extends layout

block content
    .jumbotron
        .container
            <h1>Easy Genome Aligner<br><small>Here you can align multiple genome sequences like a breeze.</small></h1>
            p Multiple genome alignments play a fundamental role in many biological realms such as evolution and genomics.Easy Genome Alignment (EGA), a set of tools implemented into a software package, is designed to make complicated whole genome multiple alignments re ally accessible for most biologists.</p>
            <br>
            a.btn.btn-primary.btn-lg(role="button" href="pages/Tutorial.html") Learn more »

    .row.container
        .col-lg-1
            <p></p>
        .col-lg-5
            .text-center
                <img src="/images/yeast.jpg" alt="Yeast" class="img-circle" style="width: 200px; height: 200px;">
                <h2>Multiple genome alignments</h2>
                <p>Help you to obtain phylogenetic relationship and genetic variation information among multiple genomes.</p>
                <p><a role="button" href="pages/Tutorial.html"  class="btn btn-default">View details »</a></p>
        .col-lg-5
            .text-center
                <img src="/images/paralog.jpg" alt="Paralog detection" class="img-circle" style="width: 200px; height: 200px;">
                <h2>Self-alignemnt</h2>
                <p>Help you to detect paralogs and obtain best-to-best pairwise alignment.</p>
                <p><a role="button" href="pages/Tutorial.html" class="btn btn-default">View details »</a></p>
        //.col-lg-1
            <p></p>

    .featurette-divider
        <hr class="featurette-divider">


        //<pre>
    .container
        //.row.col-lg-8#major-highlights
        .row.col-lg-12
            h2 Examples

        .row.col-lg-8

            .container.row

                .col-lg-4.bor
                    <h4><a title="bacteria" href="pages/Tutorial.html">Inter-species Alignment</a></h4>
                    <br>
                    <p><a href="http://114.212.160.10:3000/tutorial"><img class="pull-left img-thumbnail pic" src="/images/bacteria.jpg" alt="bacteria" width="120" height="120"></a>Through multiple genome alignment, you can obtain phylogenetic relationship of multiple species. Here we take 20 bacteria genomes as an example .</p>
                    <br>
                .col-lg-4.bor

                    <h4><a title="Services" href="pages/Tutorial.html">Intra-species Alignment</a></h4>
                    <br>
                    <p><a href="http://114.212.160.10:3000/tutorial"><img class="pull-left img-rounded pic" src="/images/yeast.jpg" alt="services" width="120" height="120"></a>You can also use multiple genome alignmnet to analyze re-sequenced genomes for population genetic inference. Here we take 12 yeast genomes as an example.</p>

            .container.row

                .col-lg-4.bor

                    <h4><a title="Deposits" href="pages/Tutorial.html">Paralog Detction</a></h4>
                    <br>
                    <p><a href="http://114.212.160.10:3000/tutorial"><img class="pull-left img-thumbnail pic" src="/images/paralog.jpg" alt="deposit" width="120" height="120"></a>You can detect paralogs by self-alignment and obtain best-to-best pairwise similar sequences. Here we use yeast strain S288c as an example.<br>
                    </p>
                    <br>
                .col-lg-4.bor

                    <h4><a title="Research" href="pages/Tutorial.html">Local Alignment tool</a></h4>
                    <br>
                    <p><a href="http://www.ncyc.co.uk/research/"><img class="pull-left img-thumbnail pic" src="/images/paralog.jpg" alt="research" width="120" height="120"></a>for those who need to deal with large-scale data, we also provide local operation tool with all required dependencies integrated into a virtual machine.<br>
                    </p>
                    <br>


        .col-lg-4.pull-right
            h3.text-center Supplement
            <br>
            .alink
            <h4><a  href="pages/Tutorial.html">pre-created accounts</a></h4>
            <h4><a  href="pages/Tutorial.html">Data preparation for EGA</a></h4>
            <h4><a  href="pages/Tutorial.html">Explanaion of result files</a></h4>
            <h4><a  href="pages/Tutorial.html">Hardware requirement for local tool</a></h4>


            <br>
            <br>
            <br>

            <div class="download">
            //<img src="/images/bacteria.jpg">
            //span.fa.fa-x.fa-download.pull-left
            <h3><a href="http://114.212.160.10:3000"></a>Download EGA</h3>
            <a href="http://114.212.160.10:3000">Version 2.30</a>

            </div>



        //</pre>
    <br>
    <br>
    <br>
    .featurette-divider
        <hr class="featurette-divider">













