extends layout
block pageContent
    div.wrapper
        form.form-signin(method="post", id="loginForm")
            h2.form-signin-heading Please login
            input(class="form-control", id="username", type="text", name="User", placeholder="Enter your e-mail")
            input(class="form-control", id="password", type="password", name="Password", placeholder="Password")
            input(class="btn btn-lg btn-primary btn-block" type="submit", value="Log In")

