extends layout
block content
    .wrapper
        div.panel.panel-info
            div.panel-heading
                h3.panel-title arguments
            div.panel-body
                pre.lang-js.arguments
    script(type='text/javascript').
        var data = !{string};
        var jsonPretty = JSON.stringify(data, null, '    ');
        $( "pre.arguments" ).text(jsonPretty);
    script(type='text/javascript').
        (function (jQuery) {
            jQuery(document).ready(function () {
                $('pre').addClass('prettyprint');
                $('pre').addClass('linenums');
                prettyPrint();
            });
        }(jQuery))

