extends layout
block content
    link(rel="stylesheet", href="/lib/highlightjs/styles/default.css")

    // arguments
    .wrapper(ng-controller="ProcessArgCtrl")
        .panel.panel-info(id="argumentsPanel")
            if (job)
                .panel-heading.panel-title(ng-init="job= #{JSON.stringify(job)}") Job: [{{job.name}}]
                    .pull-right
                        button.btn.btn-warning.btn-xs Done
                .panel-body
                    pre.pre-scrollable
                        code.json {{job.argument | json}}
            else
                .panel-heading.panel-title No running job

    // list of sh files
    if (job)
        .wrapper(ng-controller="ProcessShCtrl" ng-init="job= #{JSON.stringify(job)}")
            table#operationTable.table.table-bordered.table-compact
                thead
                    tr
                        th #
                        th Operation
                        th Start
                        th End
                        th Status
                        th
                tbody
                    tr(ng-repeat="sh in job.sh_files | filter:{exist: true}" ng-switch on="sh.status")
                        td {{$index + 1}}
                        td
                            a.btn.btn-xs.btn-primary(role="button" href="/process/{{job._id}}/{{sh.name}}") {{sh.name}}
                        td {{ sh.startDate | date:"yyyy-MM-dd hh:mm"}}
                        td {{ sh.endDate | date:"yyyy-MM-dd hh:mm"}}
                        td.success(ng-switch-when="finished")
                            span.fa.fa-fw.fa-check
                            | &nbsp;{{sh.status}}
                        td.warning(ng-switch-when="running")
                            span.fa.fa-fw.fa-spin.fa-spinner
                            | &nbsp;{{sh.status}}
                        td.danger(ng-switch-when="failed")
                            span.fa.fa-fw.fa-remove
                            | &nbsp;{{sh.status}}
                        td {{sh.exist}}

    // console
    .wrapper
        .panel.panel-default(id="consolePanel")
            .panel-heading.panel-title Console messages
            .panel-body
                pre(id='consoleLog')


    // highlight for arguments
    script(src="/lib/highlightjs/highlight.pack.js")
    script(type="text/javascript").
        hljs.initHighlightingOnLoad();

    // for console
    script(type="text/javascript").
        var socket = io.connect();
        socket.on("news", function (data) {
            $("#consoleLog").append(data.data);
            //scroll the div to follow last line added!
            var objDiv = document.getElementById("consoleLog");
            objDiv.scrollTop = objDiv.scrollHeight;
        });

