extends layout
block content
    link(rel="stylesheet", href="/lib/highlightjs/styles/default.css")
    .wrapper
        .panel.panel-default(id="consolePanel")
            .panel-heading.panel-title Console message
            .panel-body
                pre(id='consoleLog')

    // arguments
    .wrapper(ng-controller="ProcessCtrl")
        .panel.panel-info(id="argumentsPanel")
            if (job)
                .panel-heading.panel-title(ng-init="job= #{JSON.stringify(job)}") Job: [{{job.name}}]
                .panel-body
                    pre.pre-scrollable
                        code.json {{job.argument | json}}
            else
                .panel-heading.panel-title No running job

    // highlight for arguments
    script(src="/lib/highlightjs/highlight.pack.js")
    script(type="text/javascript").
        hljs.initHighlightingOnLoad();

    // for console
    script(type="text/javascript").
        var socket = io.connect();
        socket.on("news", function (data) {
            $("#consoleLog").append(data.data);
            //scroll the div to follow last line added!
            var objDiv = document.getElementById("consoleLog");
            objDiv.scrollTop = objDiv.scrollHeight;
        });

