extends layout
block content
    .wrapper
        .panel.panel-default(id="consolePanel")
            .panel-heading.panel-title Console message
            .panel-body
                pre(id='consoleLog')

    // arguments
    .wrapper(ng-controller="ProcessCtrl")
        .panel.panel-info(id="argumentsPanel")
            if (job)
                .panel-heading.panel-title(ng-init="job= #{JSON.stringify(job)}") Job: [{{job.name}}]
                .panel-body
                    pre.pre-scrollable {{job.argument | json}}
                        //code
            else
                .panel-heading.panel-title No running job

    // for console
    script(type="text/javascript").
        var socket = io.connect();
        socket.on("news", function (data) {
            $("#consoleLog").append(data.data);
            //scroll the div to follow last line added!
            var objDiv = document.getElementById("consoleLog");
            objDiv.scrollTop = objDiv.scrollHeight;
        });

