extends layout
block content
    .wrapper
        h3 arguments
        pre.lang-js.arguments
        script(type='text/javascript').
            var data = !{string};
            var jsonPretty = JSON.stringify(data, null, '    ');
            $( "pre.arguments" ).text(jsonPretty);
        script(type='text/javascript').
            (function (jQuery) {
                jQuery(document).ready(function () {
                    $('pre').addClass('prettyprint');
                    $('pre').addClass('linenums');
                    prettyPrint();
                });
            }(jQuery))

