extends layout
block content
    .wrapper
        .panel.panel-default(id="consolePanel")
            .panel-heading
                h3.panel-title Console message
            .panel-body
                pre(id='consoleLog')

    // arguments
    .wrapper
        .panel.panel-info(id="argumentsPanel")
            if (job)
                .panel-heading
                    h3.panel-title Running job arguments
                .panel-body
                    pre.pre-scrollable.prettyprint.linenums.lang-js(id="arguments")
            else
                .panel-heading
                    h3.panel-title No running job

    // for arguments
    // http://stackoverflow.com/questions/8399547/how-to-add-line-numbers-to-all-lines-in-google-prettify
    style.
        .prettyprint ol.linenums > li {
            list-style-type: decimal;
        }
    script(type="text/javascript").
        var data = !{job};
        var jsonPretty = JSON.stringify(data, null, "    ");
        $("pre#arguments").text(jsonPretty);
    script(type="text/javascript").
        (function (jQuery) {
            jQuery(document).ready(function () {
                prettyPrint();
            });
        }(jQuery))

    // for console
    script(type="text/javascript").
        var socket = io.connect();
        socket.on("news", function (data) {
            $("#consoleLog").append(data.data);
            //scroll the div to follow last line added!
            var objDiv = document.getElementById("consoleLog");
            objDiv.scrollTop = objDiv.scrollHeight;
        });
