extends layout
block content
    div.wrapper
        form.form-reset(method="post", id="resetForm")
            legend Reset Password
            .form-group
                label(for='password_confirmation') Password
                input.form-control(type='password', name='password_confirmation', value='',data-validation="length", data-validation-length="min6", autofocus)
            .form-group
                label(for='password') Confirm Password
                input.form-control(type='password', name='password', value='',data-validation="confirmation", data-validation-length="min6")
            .form-group
                button.btn.btn-primary(type='submit')
                    span.glyphicon.glyphicon-lock
                    | &nbsp;Update Password