//
   Created by liuliwei on 15-3-25.

extends layout

block content
    div.jumbotron
        .container
            .row.title-row
                .col-lg-12.font-light.text-center
                    <div class="col-12 font-light">Leave us a <span class="font-semibold">message</span></div>