extends layout
block content
    // form for uploading a file
    .wrapper
        form#fileUploadForm.form-horizontal(method="post" action="/upload" enctype="multipart/form-data")
            label(for="payload" data-toggle="tooltip" data-original-title="single file size limit: 20MB")
                | Select a file to upload:
            input#payload.btn.btn-block(type="file" name="myFile" accept="*" data-validation="required size" data-validation-max-size="20M")
            input.btn.btn-lg.btn-primary.btn-block(type="submit" value="Upload")
    // file list
    .wrapper(ng-app="fileApp")
        div#filesListPanel.panel.panel-default(ng-controller="FileListCtrl")
            .panel-heading
                h4 Your files
            div(ng-switch on="files.length")
                li.list-group-item(ng-switch-when="0")
                    | No files.
                .table-responsive(ng-switch-default)
                    table.table
                        thead
                            tr
                                th #
                                th Name
                                th Type
                                th
                        tbody
                            tr(ng-repeat="file in files")
                                td {{$index + 1}}
                                td
                                    a(href="/upload/files/{{file._id}}") {{file.name}}
                                td
                                td.cell-align
                                    button.btn.btn-danger.btn-xs(ng-click="deleteFile($index)" data-type="info" data-animation="am-fade-and-scale" bs-tooltip data-title="{{tooltip.delete}}")
                                        span.fa.fa-trash
