html, body {
    max-width: 1200px;
    margin: 0 auto;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* login form */
#forgotForm, #loginForm, #resetForm, #signupForm {
    max-width: 22em;
    padding: 1em 2em 2em;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, .1);
}

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* upload form */
#fileUploadForm {
    max-width: 26em;
    padding: 1em 2em 2em;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, .1);
}

/* file list */
#filesListPanel {
    max-width: 50em;
    margin: 0 auto;
}

/* align form */
#alignForm {
    max-width: 50em;
    padding: 1em 2em 2em;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, .1);
}

/* arguments panel */
#argumentsPanel {
    max-width: 50em;
    margin: 0 auto;
}

#operationTable {
    max-width: 50em;
    margin: 0 auto;
}

/*override bootstrap default value*/
/* For job arguments */
.pre-scrollable {
    max-height: 12em;
    word-wrap: break-word;
    overflow: auto;
}

/*console panel*/
#consolePanel {
    max-width: 50em;
    margin: 0 auto;
}

/* allJobs list */
#jobListPanel {
    max-width: 50em;
    margin: 0 auto;
}

#fileBrowserPanel {
    max-width: 50em;
    margin: 0 auto;
}

#fileBrowserList {
    /*max-width: 50em;*/
    /*max-height: 30em;*/
}

#fileBrowserList ul {
    list-style-type: none;
}

#fileBrowserList li {
    font-size: 14px;
    line-height: 1.5em;
}

#fileBrowserList li .fa {
    margin-right: 5px;
}

#fileBrowserList a {
    color: black;
}

#fileBrowserList .fa {
    color: black;
}

#downloadsPanel {
    max-width: 50em;
    margin: 0 auto;
}

/* http://stackoverflow.com/questions/13771101/centering-a-button-vertically-in-table-cell-using-twitter-bootstrap */
.table tbody > tr > td.cell-align {
    vertical-align: middle;
    float: none;
    text-align: center;
}

/* Index and contact pages */
.bor {
    border: thin solid #BDBDBD;
    background-color: #F2F2F2;
    border-radius: 5px;
    width: 350px;
    padding: 10px 10px 25px 15px;
    margin: 1%;
}

.bor:hover {
    border: thin solid #83C6E3;
}

.pic {
    margin-right: 10px;
}

.font-light {
    font-family: "Titillium Web", sans-serif;
    font-weight: 300;
    font-size: 50px;
}

.font-semibold {
    font-family: "Titillium Web", sans-serif;
    font-weight: 600;
}

.line-row .hr {
    background-color: #e4e6e5;
    height: 5px;
    margin: 0 auto;
    width: 33%;
}

.subtitle-row {
    font-size: 35px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.hidden-sm {
    display: block;
}

.download {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    background-color: #eeeeee;
    border: 2px solid #f8a848;
    text-align: center;
    padding: 2em;
    padding-top: 1em;
    margin-top: 2em;
    margin-bottom: 4em;
    border-radius: 10px;
}

.alink {
    font-family: sans-serif;
}
