html, body {
    max-width: 1200px;
    margin: 0 auto;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.wrapper {
    margin-top: 1em;
    margin-bottom: 1em;
}

/* login form */
#forgotForm, #loginForm, #resetForm, #signupForm {
    max-width: 22em;
    padding: 1em 2em 2em;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, .1);
}

input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

input[type="password"] {
    margin-bottom: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* upload form */
#fileUploadForm {
    max-width: 26em;
    padding: 1em 2em 2em;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, .1);
}

/* file list */
#filesListPanel {
    max-width: 50em;
    margin: 0 auto;
}

/* align form */
#alignForm {
    max-width: 50em;
    padding: 1em 2em 2em;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, .1);
}

/* arguments panel */
#argumentsPanel {
    max-width: 50em;
    margin: 0 auto;
}

#operationTable {
    max-width: 50em;
    margin: 0 auto;
}

/*override bootstrap default value*/
.pre-scrollable {
    max-height: 20em;
}

/*console panel*/
#consolePanel {
    max-width: 50em;
    margin: 0 auto;
}

#consoleLog {
    max-height: 18em;
    word-wrap: break-word;
    overflow: auto;
}

/* allJobs list */
#jobListPanel {
    max-width: 50em;
    margin: 0 auto;
}

#fileBrowserPanel {
    max-width: 50em;
    margin: 0 auto;
}

#fileBrowserList {
    /*max-width: 50em;*/
    /*max-height: 30em;*/
}

#fileBrowserList ul {
    list-style-type: none;
}

#fileBrowserList li {
    font-size: 16px;
    line-height: 1.5em;
}

#fileBrowserList li .fa {
    margin-right: 5px;
}

#fileBrowserList a {
    color: black;
}

#fileBrowserList .fa {
    color: black;
}


/* http://stackoverflow.com/questions/13771101/centering-a-button-vertically-in-table-cell-using-twitter-bootstrap */
.table tbody>tr>td.cell-align {
    vertical-align: middle;
    float: none;
    text-align: center;
}
